# Log files
npm-debug.log*
.log
*.log

# Dependency directories
/node_modules
/jspm_packages

# Production and build files
/dist
/build
/out
/coverage
/public

# Environment variables
.env
.env.production
.env.local

# IDE and OS files
.vscode
.idea
.DS_Store
*.swp
*.bak
*.swo

# Uploads and temporary files
/uploads
/tmp
*.tmp
*.temp